* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

.header {
  display: flex;
  margin: 0 auto;
  background-color: darkred;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 2rem;
  padding: 0 10%;
  height: 12vh;
}

li a {
  color: white;
}

.nav-list-container {
  display: flex;
  gap: 1.5rem;
}

.main-general-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
  column-gap: 3rem;
}

.cardContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 2rem;
  border: solid rgb(0, 84, 117) 1px;
  border-radius: 5px;
}

main {
  background-color: lightblue;
  margin: 0 auto;
  padding: 10%;
}

.countryFlag-img {
  width: 100%;
  height: 10rem;
  border-radius: 5px;
}

.display-none {
  display: none;
}

.nameLike {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentsBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 0.5rem 1rem;
}

#footer {
  color: white;
}

.likeIcon {
  width: 0.9rem;
  height: 0.9rem;
}

/* ------Footer Section-------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkred;
  font-size: 2.4rem;
  height: 10vh;
}

/* s0000000000000000 */
@media screen and (max-width: 900px) {
  .main-general-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 3rem;
  }
}

@media screen and (max-width: 550px) {
  nav{
    padding-left: 2%;
    font-size: inherit;
    width: 100%;
  }

  #footer {
    font-size: 1rem;
  }

  .main-general-container {
    grid-template-columns: 1fr;
  }
}
